*{
    outline: solid 1px red;
    margin: 0;
    padding: 0;
}
body{
    background-color: #D0D0C8;
    color: #360d0d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.header{
    display:flex;
    justify-content: space-between;
    padding: 10px;
}
.header-links ul li{
    list-style: none;
}
.header-links ul li a{
    text-decoration: none;
    color: #6d1d1d;
}
.header-title{
    font-weight: 800;
}
.header-links ul{
    display: flex;
    gap: 20px;
}