*{
    outline: solid 1px red;
    margin: 0;
    padding: 0;
}
body{
    background-color: #D0D0C8;
    color: #360d0d;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: stretch;
}

/* HEADER STYLING */
.header{
    display:flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #EF8182;
}
.header-title{
    font-weight: 800;
    font-size:  25px;
}
.header-links{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-links ul{
    display: flex;
    gap: 20px;
    margin-right: 200px;
}
.header-links ul li{
    list-style: none;
}
.header-links ul li a{
    text-decoration: none;
    color: #611616;
}
.logo-image{
    width: 35px; 
    height: auto;
}
.logo{
    display: flex;
    margin-left: 200px;
    align-items: center;
}

/* CONTENT / BODY STYLING */
.content{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}
.intro-section{
    display:flex;
    box-sizing: border-box;
    background-color: #EF8182;
    gap: 20px;
    padding: 30px;
    width: 100%;
    justify-content: center;

}
.sign-up{
    padding: 5px 20px;
    width: 100px;
}

.intro-image img{
    width: 300px;
    height: auto;
}
.intro-text{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
.intro-image-credits{
    color: #360d0d;
    font-size: 0.9rem;
    text-align: right;
}
.intro-image-credits a{
    color: #79186c;
    text-decoration: none;

}

/* Product section STYLING */
.product-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;

}
.products{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.box{
    width: 100px;
    height: 100px;
    border: 2px solid rgb(114, 4, 204);
    border-radius: 10px;;
}
.products-title h2{
    padding: 20px;
}
.products p {
    margin: 10px 0;
}