*{
    outline: solid 1px red;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
body>div{
    display: flex;
    flex: 1 1 100px;
}
/* HEADER CSS */
.header{
    background-color: aqua;
    flex: 0 1 80px;
    /* flex is set within the body>div*/
    justify-content:  space-between;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
    margin-left: 300px;
    gap: 10px
}
.logo-image{
    height: 60px;
    width: auto;
}
.header-links{
    align-self: center;
    margin-right: 300px;

}
.header-links ul{
    display: flex;
    align-items: center;
    gap: 20px
}
.header-links ul li{
    list-style: none;
}
.header-links ul li a{
    text-decoration: none;
    color: #17c23c
}
/* INTRO CSS */
.intro{
    background-color: rgb(59, 57, 199);
}
.intro-image img{
    width: 300px;
}


/* Products CSS */
.products{
    background-color: rgb(21, 255, 0);
}
.quote{
    background-color: rgb(251, 255, 0);
}
.cta{
    background-color: rgb(255, 0, 21);
}
.footer{
    background-color: rgb(255, 136, 0);
    flex: 0 1 50px;
}