*{
    outline: solid 1px red;
    margin: 0;
    padding: 0;
}
body{
    background-color: #D0D0C8;
    color: #360d0d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

/* HEADER STYLING */
.header{
    display:flex;
    justify-content: space-between;
    padding: 20px;
}
.header-title{
    font-weight: 800;
    font-size:  25px;
}
.header-links{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-links ul{
    display: flex;
    gap: 20px;
    margin-right: 200px;
}
.header-links ul li{
    list-style: none;
}
.header-links ul li a{
    text-decoration: none;
    color: #611616;
}
.logo-image{
    width: 35px; 
    height: auto;
}
.logo{
    display: flex;
    margin-left: 200px;
    align-items: center;
}

/* CONTENT / BODY STYLING */
