*{
    /* outline: solid 1px blue; */
    margin: 0;
    padding: 0;

    list-style: none;
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
body>div{
    display: flex;
    flex: 1 1 100px;
    flex-wrap: wrap;
}
.header,.intro, .footer{
    color: rgb(225, 245, 248);
}
/* HEADER CSS */
.header{
    background-color: rgb(4, 37, 43);
    flex: 0 1 80px;
    /* flex is set within the body>div*/
    justify-content:  space-around;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px
}
.logo-image{
    height: 60px;
    width: auto;
}
.header-links{
    align-self: center;
}
.header-links ul{
    display: flex;
    align-items: center;
    gap: 20px
}
.header-links ul li a{
    color: #17c23c
}
/* INTRO CSS */
.intro{
    background-color: rgb(4, 37, 43);
    padding: 50px 0;
    justify-content: center;
    gap: 50px;

}
.intro-image img{
    width: 300px;
}
.intro-image p{
    text-align: right;
    padding-top: 5px;
}
.intro-text{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
.sign-up{
    width: 100px;
    padding: 5px 10px;
    border-radius: 10px;
}


/* Products CSS */
.product-section{
    background-color: rgb(194, 229, 235);
    flex-direction: column;
    text-align: center;
    padding: 20px;

}
.products{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 30px;
    flex-wrap: wrap;

}
.box{
    width: 100px;
    height: 100px;
    border: 2px solid brown;
    border-radius: 10px;
}


/* Quote CSS */
.quote{
    background-color: rgb(167, 197, 202);
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.quote-text{
    width: 400px;
    font-size: 30px;
    font-style: italic;
}
.quote-author{
    text-align: right;
    font-weight: bold;
}
/* Call to action CSS */
.cta{
    background-color: rgb(194, 229, 235);

}
.cta-box{
    background-color: rgb(197, 112, 97);

    display: flex;
    flex: 0 0 400px;
    padding: 30px;
    margin: 20px auto;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.cta-button{
    
    width: 100px;
    height: 30px;
    padding: 5px 10px;
    border-radius: 10px;
}
.cta-title{
    font-size: 1.1em;
    font-weight: bold;
}

/* Footer CSS */
.footer{
    background-color: rgb(4, 37, 43);
    flex: 0 0 50px;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
}